<section class='post'>
  <form class='form post-form'>
    <div class='form-group'>
      <label for='post-title'>Title:</label>
      <input class='form-input' type='text' id='post-title' />
    </div>
    <div class='form-group'>
      <label for='post-content'>Content:</label>
      <textarea
        class='form-input'
        rows='10'
        cols='20'
        id='post-content'
      ></textarea>
    </div>
    <div class='form-group'>
      <button class='btn btn-primary' type='submit'>Submit</button>
    </div>
  </form>
</section>

<script src='./js/post.js'></script>